#fridge {
    background-color: tan;
    border: solid black 5px;
    width: 70%;
    margin-bottom: 0;
}

#fridgebutton {
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#contents {
    margin-left: 30px;
}

#monitor {
    float: right;
    margin-right: 75px;
    border: solid black 5px;
    color: black;
}

#websearch {
    margin-left: 40%;

}
#webswitchbutton {
    margin-left: 33%;
    margin-top: 20px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#onAndOffButton{
    margin-left: 33%;
    font-size:24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr, footer {
    float: left;
    margin-top: 10px;
}